target/
build/
api/target
api/out
api/build
api-contract/target
api-contract/build
api-contract/out
client/target
client/build
client/out/
model/target
model/build
model/out
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.idea
.idea/*
*.iml
*.ipr
*.iws
.gradle
.gradle/*
.env
api/src/main/resources/application-local.properties
classes/