version: '2.1'

services:
  fees-api:
    build:
      context: .
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    image: hmctspublic.azurecr.io/fees-register/api
    container_name: fees-api
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://fees-database:5432/fees_register
      - SPRING_DATASOURCE_USERNAME=fees_register
      - SPRING_DATASOURCE_PASSWORD=fees_register
      - AUTH_IDAM_CLIENT_BASEURL=https://idam-test.dev.ccidam.reform.hmcts.net
    ports:
     - 8182:8080
    depends_on:
      - fees-database

  fees-database:
    build:
      context: docker/database
    container_name: fees-database
    image: postgres:11-alpine
    environment:
      - POSTGRES_USER=fees_register
      - POSTGRES_PASSWORD=fees_register
      - POSTGRES_DB=fees_register
    ports:
      - 5182:5432
    volumes:
      - fees-database-data:/var/lib/postgresql/data

volumes:
  fees-database-data:
