version: '2.1'

services:
  fees-api:
    build:
      context: .
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    image: hmctspublic.azurecr.io/fees-register/api
    container_name: fees-api
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://fees-database:5432/fees_register
      - SPRING_DATASOURCE_USERNAME=fees_register
      - SPRING_DATASOURCE_PASSWORD=fees_register
      - AUTH_IDAM_CLIENT_BASEURL=http://idam-api:5000
    ports:
     - 8182:8080
    depends_on:
      - fees-database

  fees-database:
#    build:
#      context: docker/database
    container_name: fees-database
    image: postgres:11-alpine
    environment:
      - POSTGRES_USER=fees_register
      - POSTGRES_PASSWORD=fees_register
      - POSTGRES_DB=fees_register
    ports:
      - 5182:5432
    volumes:
      - fees-database-data:/var/lib/postgresql/data

  fr-am:
    image: hmctsprivate.azurecr.io/idam/idam-fr-am:latest
    hostname: localam
    depends_on:
      - shared-db
    ports:
      - 8080:8080
      - 1389:1389
  fr-idm:
    image: hmctsprivate.azurecr.io/idam/idam-fr-idm:latest
    hostname: localidm
    depends_on:
      - fr-am
      - shared-db
    ports:
      - 18080:18080
      - 9010:9010
  shared-db:
    image: hmctsprivate.azurecr.io/idam/shared-db:latest
    ports:
      - 5445:5432
    environment:
      - POSTGRES_USER=openidm
      - POSTGRES_PASSWORD=openidm
      - POSTGRES_DB=openidm

  smtp-server:
    image: mailhog/mailhog
    ports:
      - 1025:1025
      - 8025:8025
  idam-api:
    image: hmctspublic.azurecr.io/idam/api:stable
    depends_on:
      - fr-am
      - shared-db
    ports:
      - 5000:5000
    tmpfs: /opt/app/es
    environment:
      - JAVA_OPTS=-Xms128m -Xms512m
      - IDAMHEALTHCHECK_AM_ENABLED=false
      - IDAMHEALTHCHECK_IDM_ENABLED=false
      - STRATEGIC_ADMIN_URL=http://idam-web-admin:8082
      - STRATEGIC_WEBPUBLIC_URL=http://idam-web-public:9002
      - SPRING_PROFILES_ACTIVE=local
      - SPRING_DATASOURCE_URL=jdbc:postgresql://shared-db:5432/openidm?currentSchema=fridam
      - SPRING_DATASOURCE_USERNAME=openidm
      - SPRING_DATASOURCE_PASSWORD=openidm
      - SECURITY_OAUTH2_CLIENT_CLIENTSECRET=password
      - SECURITY_OAUTH2_CLIENT_PRE_ESTABLISHED_REDIRECT_URI=http://idam-web-public:9002/login
      - SECURITY_OAUTH2_CLIENT_REGISTERED_REDIRECT_URI=http://idam-web-public:9002/login
      - IDAM_SPI_FORGEROCK_AM_ROOT=http://fr-am:8080/openam
      - IDAM_SPI_FORGEROCK_AM_TOPLEVELHOST=fr-am
      - IDAM_SPI_FORGEROCK_AM_USERNAME=amadmin
      - IDAM_SPI_FORGEROCK_AM_PASSWORD=Pa55word11
      - IDAM_SPI_FORGEROCK_AM_JWKSURIFOROAUTH2CLIENTS=http://fr-am:8080/openam/oauth2/hmcts/connect/jwk_uri
      - IDAM_SPI_FORGEROCK_IDM_ROOT=http://fr-idm:18080/openidm
      - IDAM_SPI_FORGEROCK_IDM_USERNAME=openidm-admin
      - IDAM_SPI_FORGEROCK_IDM_PASSWORD=openidm-admin
      - IDAM_SPI_FORGEROCK_IDM_PIN_DEFAULTPASSWORD=BlaBlaBlackSh33p
      - APPSETTING_NODE_PATH=/opt/app
  idam-web-public:
    image: hmctspublic.azurecr.io/idam/web-public:stable
    depends_on:
      - idam-api
    ports:
      - 9002:8080
    environment:
      - JAVA_OPTS=-Xms128m -Xms512m
      - STRATEGIC_SERVICE_URL=http://idam-api:5000
  idam-web-admin:
    image: hmctspublic.azurecr.io/idam/web-admin:stable
    depends_on:
      - idam-api
    ports:
      - 8082:8080
    environment:
      - JAVA_OPTS=-Xms128m -Xms512m
      - STRATEGIC_SERVICE_URL=http://idam-api:5000
      - STRATEGIC_PUBLIC_URL=http://idam-web-public:9002
volumes:
  fees-database-data:

