postgresql:
  initdbScripts:
    init.sql: |-
      CREATE USER fees_register WITH PASSWORD 'fees_register';
      CREATE DATABASE fees_register WITH OWNER = fees_register ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
  nameOverride: fees-register-db
  persistence:
    enabled: false

java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  applicationPort: 8080
  environment:
    SPRING_DATASOURCE_URL: "jdbc:postgresql://{{ .Release.Name }}-fees-register-db:5432/fees_register"
    SPRING_DATASOURCE_USERNAME: fees_register
    SPRING_DATASOURCE_PASSWORD: fees_register

    REFORM_SERVICE_NAME: fees-register-api
    REFORM_TEAM: cc

    ENABLE_FEE_LOADER: true
    SPRING_LIQUIBASE_ENABLED: true
    IDAM_CLIENT_BASE_URL: https://idam-api.aat.platform.hmcts.net
