java:
  image: 'hmctspublic.azurecr.io/fees-register/api:latest'
  applicationPort: 8080
  ingressHost: fees-register-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  aadIdentityName: ccpay
  environment:
    POSTGRES_PORT: 5432
    POSTGRES_HOST: fees-register-postgres-db-{{ .Values.global.environment }}.postgres.database.azure.com
    POSTGRES_NAME: fees-register
    POSTGRES_USERNAME: fees-register@fees-register-postgres-db-{{ .Values.global.environment }}
    POSTGRES_CONNECTION_OPTIONS: ?sslmode=require
    SPRING_LIQUIBASE_ENABLED: false

    REFORM_SERVICE_NAME: fees-register-api
    REFORM_TEAM: cc
    ENABLE_FEE_LOADER: true
    IDAM_CLIENT_BASE_URL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
  keyVaults:
    "ccpay":
      resourceGroup: ccpay
      secrets:
        - fees-register-api-POSTGRES-PASS
        - AppInsightsInstrumentationKey
